$primary-color:#E153E3;
$secondary-color:#21A2F6;
$green1:#00B37E;
$dark-one:#070707;
$dark-two:#29292E;
$dark-three:#121214;
$red1:#F75A68;
$gray1:#E1E1E6;
$gray2:#8D8D99;
$gradiente:linear-gradient($primary-color, $secondary-color);;
