
.damage-modal {

  .modal-content {
    background-color: #2b2b2b;
  }

  .damage-modal--header {
    label {
      color: #FFFFFF;
    }

  }

  .damage-modal--body {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .damage-modal--body--form {
      flex: 1;
    }
  }

  .damage-modal--footer {

  }
}