@use '../../styles/abstract' as *;

.device-item {
  flex: 0 1 calc(38% - 5px);
  display: flex;
  min-width: 300px;
  max-height: 95px;
  background-color: $dark-one;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  box-sizing: border-box;
  text-decoration: none;
  color: $gray1;

  .device-item--left {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    min-width: 20%;
    background-color: $secondary-color;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 2px;

    svg {
      font-size: 35px;
    }

    strong {
      margin: 0;
      font-size: 0.875rem;
      font-weight: 500;
      text-align: center;
    }
  }

  .device-item--center {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    padding: 10px 10px;
    font-size: 14px;

    p {
      margin: 0;
    }

  }

  .device-item--right {
    display: flex;
    flex-basis: 10%;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    color: $secondary-color;

  }

  &:hover {
    color: #FFFFFF;
    background-image: linear-gradient(darken($color:$primary-color, $amount:20), darken($color:$secondary-color, $amount:20));
  }
}

